.signin-right-con {
  background: url(/public/Rectangle.png) no-repeat;
  /* background-position: center; */
  background-size: cover;
}


@media screen and (max-width: 1334px) {
  .auth-right-container {
    width: 60% !important;
  }
}

@media screen and (max-width: 640px) {
  .auth-right-container {
    width: 80% !important;
  }
}

@media screen and (max-width: 420px) {
  .auth-right-container {
    width: 100% !important;
    padding: auto 20px;
  }
}

@media screen and (max-width: 325px) {
  .signInAccount {
    flex-direction: column;
  }
}
